@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Poppins:wght@500;600&display=swap");

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.login-btn {
		@apply flex items-center justify-center gap-[20px] rounded-lg bg-primaryBlue p-2 font-bold text-white;
	}

	.error-message {
		@apply mt-2.5 self-start text-sm text-errorRed;
	}

	.spinner {
		@apply h-5 w-5 animate-spin rounded-full border-l-2 border-white;
	}

	.image-center {
		@apply h-full w-full object-cover object-center;
	}
}

body {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
}

/* *,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* button {
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}

img {
	width: 100%;
}

input {
	font: inherit;
} */
